{:kotoba.project/root sigv4.pct-encode
 :kotoba.project/modules {sigv4.pct-encode "kotoba/pct_encode.kotoba"}
 :kotoba.project/package-lock "kotoba.lock.edn"
 :kotoba.project/trust "kotoba.trust.edn"
 :kotoba.project/dependency-manifests {}}
